.login-form {
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
    max-width: 30rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 2rem 4rem;
    border-radius: 5px;
}

.login-form .heading-secondary {
    color: black;
}

.form__input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2 !important;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: black !important;
}

.form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
    color: #bbb;
}

.form__group:not(:last-child) {
    margin-bottom: 2.5rem;
}

.form__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: rgb(52, 99, 108);
}

.form__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
}

.form__user-photo {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__upload:focus + label {
    outline: 3px solid #55c57a;
    outline-offset: 3px;
}

.form__upload + label {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}
.form__upload + label:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
