.overview-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 4rem;
  }
  
  .overview-title {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
  }
  
  .no-products {
    text-align: center;
    font-size: 18px;
    color: #777;
  }
  