.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Arial", sans-serif;
    background: white;
    overflow: hidden;
}

.custom-table-th {
    background: #1e5863;
    color: aquamarine !important;
    text-align: left;
    font-weight: bold;
    border-bottom: 3px solid #5a6268;
    transition: background 0.3s ease-in-out;
}

.custom-table-th:hover {
    background: #5a6268;
}

.custom-table-td {
    padding: 14px;
    border-bottom: 1px solid #dee2e6;
    color: #343a40;
    font-size: 16px;
    font-weight: 500;
    background: #f8f9fa;
    transition: background 0.2s ease-in-out;
}

.custom-table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.custom-table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.custom-table-tr:hover .custom-table-td {
    background: #e9ecef;
}

@media screen and (max-width: 768px) {
    .table-container {
        overflow-x: auto;
    }
}

.edit-btn,
.delete-btn {
    border: none;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.edit-btn {
    background: #007bff;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}

.edit-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.delete-btn {
    background: #dc3545;
    color: white;
    box-shadow: 0 2px 4px rgba(220, 53, 69, 0.3);
}

.delete-btn:hover {
    background: #a71d2a;
    transform: scale(1.05);
}

.actions-cell {
    display: flex;
    gap: 8px;
}

td button {
    margin-right: 8px;
}

td button:last-child {
    margin-right: 0;
}

.admin_prod_thead {
    background-color: #1f2937;
}

.admin_prod_thead_head_cell {
    color: #fff !important;
}

.admin_prod_thead_head_cell .admin_prod_thead_lable {
    font-weight: 700;
}
